---
import { Toaster } from "sonner";
import { ViewTransitions } from "astro:transitions";

const navItems = [
  { href: "/", label: "Home" },
  { href: "/transcripts", label: "Transcripts" },
];
const activeClasses = "text-blue-500 hover:text-blue-700 font-bold";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body>
    <nav class="flex w-full p-4 gap-4 border-b">
      {
        navItems.map(({ href, label }) => (
          <a
            class:list={[
              "text-blue-500 hover:text-blue-700",
              href === Astro.url.pathname && activeClasses,
            ]}
            href={href}
            title={label}
          >
            {label}
          </a>
        ))
      }
    </nav>
    <slot />
    <Toaster client:load />
  </body>
</html>
