---
import Layout from "../../components/layout.astro";
import { z } from "zod";
import { getTranscriptById } from "../../db";

const id = z.string().parse(Astro.params.id);
const transcript = await getTranscriptById(id);

if (!transcript) {
  return Astro.redirect("/404");
}
---

<Layout>
  <h1 class="">{transcript.label}</h1>
  <p class="">{transcript.transcript}</p>
</Layout>
