---
import Layout from "../../components/layout.astro"
import { getAllTranscripts } from "../../db";

const transcripts = await getAllTranscripts();
---
<Layout>
    <div class="p-4 flex gap-8 divide-x">
      {transcripts.length === 0 && (
        <h1 class="font-bold text-lg">You haven't uploaded any audio files yet so there are no transcripts available.</h1>
      )}
      <div class="flex flex-col gap-4 w-full max-w-lg max-h-[90vh] overflow-y-scroll">
        {transcripts.map((post) => {
          return (
            <div class="rounded-lg p-4 flex flex-col gap-4 border bg-zinc-100 shadow-sm">
              <div class="flex justify-between">
                <h3 class="text-xl font-semibold leading-none tracking-tight">
                  {post.label}
                </h3>
                {!post.processed && (
                  <div
                    class={
                      "inline-flex items-center rounded-full border px-2.5 py-1.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 bg-amber-100 text-amber-800"
                    }
                  >
                    Processing
                  </div>
                )}
              </div>
              <a
                href={`/transcripts/${post.id}`}
                class="mr-auto block text-blue-800 hover:text-blue-600 underline"
              >
                Read more
              </a>
            </div>
          );
        })}
      </div>
    </div>
</Layout>